In [154]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [155]:
import pymysql
import json
import warnings
import DB

In [255]:
db = DB.MYDB()
db.cursor.execute('select * from team_record_merge')
data = pd.DataFrame(db.cursor.fetchall())
db.db.close()

Connect!

In [256]:
data = data.drop(3911) # 결측치 제거
data = data.drop(3258)

In [156]:
def make_data(home, away):
  result = pd.DataFrame()
  # 어시스트 -> 어시스트 / 필드골 성공
  for idx in range(home.shape[0]):
    h_data, a_data = home.iloc[idx], away.iloc[idx]
    output_data = {}
    output_data['ast'] = h_data['ast'] / h_data['fgt']
    # 2점
    output_data['twop'] = h_data['fg'] / h_data['fgA']
    # 3점
    output_data['threep'] = h_data['threep'] / h_data['threepA']
    # 자유투
    output_data['freep'] = h_data['ft'] / h_data['ftA']
    # 공격 리바
    output_data['offr'] = h_data['offr'] / (h_data['offr'] + a_data['defr'])
    # 속공
    # output_data['tfb'] = h_data['tfb'] / h_data['fgt']
    # 벤치득점
    # output_data['bench'] = h_data['benchScoreCn'] / h_data['score']
    # 속공득점
    # output_data['tfbp'] = h_data['fbScoreCn'] / h_data['score']
    # 페인트존 득점
    output_data['ppp'] = h_data['pp'] / h_data['ppA']
    # 덩크
    output_data['dk'] = h_data['dk'] / h_data['dkA']
    # 최다 연속 득점 비율
    # output_data['maxContiScore'] = h_data['maxContiScoreCn'] / h_data['score']
    # 최다 리드 점수차
    # output_data['maxLeadScore'] = (h_data['score'] - a_data['score']) / h_data['maxLeadScoreCn']
    # 득점 우위 시간
    # output_data['scoreHighTime'] = h_data['scoreHighTimeCn'] / 2400
    # 세컨찬스 득점
    # output_data['secChanceScore'] = h_data['secChanceScoreCn'] / h_data['score']
    # 턴오버
    # output_data['to'] = (h_data['to'] + h_data['tto']) / (h_data['to'] + h_data['tto'] + a_data['to'] + a_data['tto'])
    # output_data['to'] = (h_data['to'] + h_data['tto']) / (h_data['to'] + h_data['tto'] + a_data['to'] + a_data['tto'])

    output_data['defr'] = h_data['defr'] / (a_data['offr'] + h_data['defr'])
    output_data['stl'] = h_data['stl'] / (h_data['stl'] + a_data['stl'])
    output_data['bs'] = h_data['bs'] / a_data['fgtA']
    output_data['foul'] = h_data['foul'] / (h_data['foul'] + a_data['foul'])
    output_data['tf'] = h_data['tf'] / (h_data['tf'] + a_data['tf'])
    output_data['gd'] = h_data['gd'] / (h_data['gd'] + a_data['gd'])

    output_data['score'] = h_data['score']
    # output_data['teamR'] = h_data['teamR'] / (h_data['teamR'] + a_data['teamR'])
    # result.append(output_data, ignore_index=True)
    # print(output_data)
    result = pd.concat([result, pd.DataFrame([output_data])], ignore_index=True)
  return result

In [261]:
def calculate_data(h_data, a_data):
  output_data = pd.DataFrame()
  output_data['gmkey'] = h_data['gmkey']
  output_data['ast'] = h_data['ast'] / h_data['fgt']
  # 2점
  output_data['twop'] = h_data['fg'] / h_data['fgA']
  # 3점
  output_data['threep'] = h_data['threep'] / h_data['threepA']
  # 자유투
  output_data['freep'] = h_data['ft'] / h_data['ftA']
  # 공격 리바
  output_data['offr'] = h_data['offr'] / (h_data['offr'] + a_data['defr'])
  # 속공
  # output_data['tfb'] = h_data['tfb'] / h_data['fgt']
  # 벤치득점
  # output_data['bench'] = h_data['benchScoreCn'] / h_data['score']
  # 속공득점
  # output_data['tfbp'] = h_data['fbScoreCn'] / h_data['score']
  # 페인트존 득점
  output_data['ppp'] = h_data['pp'] / h_data['ppA']
  # 덩크
  output_data['dk'] = h_data['dk'] / h_data['dkA']
  # 최다 연속 득점 비율
  # output_data['maxContiScore'] = h_data['maxContiScoreCn'] / h_data['score']
  # 최다 리드 점수차
  # output_data['maxLeadScore'] = (h_data['score'] - a_data['score']) / h_data['maxLeadScoreCn']
  # 득점 우위 시간
  # output_data['scoreHighTime'] = h_data['scoreHighTimeCn'] / 2400
  # 세컨찬스 득점
  # output_data['secChanceScore'] = h_data['secChanceScoreCn'] / h_data['score']
  # 턴오버
  # output_data['to'] = (h_data['to'] + h_data['tto']) / (h_data['to'] + h_data['tto'] + a_data['to'] + a_data['tto'])
  # output_data['to'] = (h_data['to'] + h_data['tto']) / (h_data['to'] + h_data['tto'] + a_data['to'] + a_data['tto'])

  output_data['defr'] = h_data['defr'] / (a_data['offr'] + h_data['defr'])
  output_data['stl'] = h_data['stl'] / (h_data['stl'] + a_data['stl'])
  output_data['bs'] = h_data['bs'] / a_data['fgtA']
  output_data['foul'] = h_data['foul'] / (h_data['foul'] + a_data['foul'])
  output_data['tf'] = h_data['tf'] / (h_data['tf'] + a_data['tf'])
  output_data['gd'] = h_data['gd'] / (h_data['gd'] + a_data['gd'])

  output_data['score'] = h_data['score']
  
  # output_data['teamR'] = h_data['teamR'] / (h_data['teamR'] + a_data['teamR'])
  # result.append(output_data, ignore_index=True)
  # print(output_data)
  # result = pd.concat([result, pd.DataFrame([output_data])], ignore_index=True)
  return output_data

In [260]:
def make_model(data):
    h_data = pd.DataFrame()
    a_data = pd.DataFrame()
    # 어시스트 -> 어시스트 / 필드골 성공
    h_data['ast'] = data['h_ast'] / data['h_fgt']
    a_data['ast'] = data['a_ast'] / data['a_fgt']
    # 2점
    h_data['twop'] = data['h_fg'] / data['h_fgA']
    a_data['twop'] = data['a_fg'] / data['a_fgA']

    # 3점
    h_data['threep'] = data['h_threep'] / data['h_threepA']
    a_data['threep'] = data['a_threep'] / data['a_threepA']

    # 자유투
    h_data['freep'] = data['h_ft'] / data['h_ftA']
    a_data['freep'] = data['a_ft'] / data['a_ftA']

    # 공격 리바
    h_data['offr'] = data['h_offr'] / (data['h_offr'] + data['a_defr'])
    a_data['offr'] = data['a_offr'] / (data['a_offr'] + data['h_defr'])
    # 속공
    h_data['tfb'] = data['h_tfb'] / data['h_fgt']
    a_data['tfb'] = data['a_tfb'] / data['a_fgt']

    # 벤치득점
    h_data['bench'] = data['h_benchScoreCn'] / data['h_score']
    a_data['bench'] = data['a_benchScoreCn'] / data['a_score']


    # 속공득점
    h_data['tfbp'] = data['h_fbScoreCn'] / data['h_score']
    a_data['tfbp'] = data['a_fbScoreCn'] / data['a_score']

    # 페인트존 득점
    h_data['ppp'] = data['h_pp'] / data['h_ppA']
    a_data['ppp'] = data['a_pp'] / data['a_ppA']

    # 덩크
    h_data['dk'] = data['h_dk'] / data['h_dkA']
    a_data['dk'] = data['a_dk'] / data['a_dkA']

    # 최다 연속 득점 비율
    h_data['maxContiScore'] = data['h_maxContiScoreCn'] / data['h_score']
    a_data['maxContiScore'] = data['a_maxContiScoreCn'] / data['a_score']

    # 최다 리드 점수차
    # h_data['maxLeadScore'] = (data['h_score'] - data['a_score']) / data['h_maxLeadScoreCn']
    # a_data['maxLeadScore'] = (data['a_score'] - data['h_score']) / data['a_maxLeadScoreCn']
    # h_data[h_data['maxLeadScore'] < -1]

    # 득점 우위 시간
    h_data['scoreHighTime'] = data['h_scoreHighTimeCn'] / 2400
    a_data['scoreHighTime'] = data['a_scoreHighTimeCn'] / 2400

    # 세컨찬스 득점
    h_data['secChanceScore'] = data['h_secChanceScoreCn'] / data['h_score']
    a_data['secChanceScore'] = data['a_secChanceScoreCn'] / data['a_score']

    # 턴오버
    h_data['to'] = (data['h_to'] + data['h_tto']) / (data['h_to'] + data['h_tto'] + data['a_to'] + data['a_tto'])
    a_data['to'] = (data['a_to'] + data['a_tto']) / (data['h_to'] + data['h_tto'] + data['a_to'] + data['a_tto'])

    h_data['defr'] = data['h_defr'] / (data['a_offr'] + data['h_defr'])
    a_data['defr'] = data['a_defr'] / (data['h_offr'] + data['a_defr'])
    h_data['stl'] = data['h_stl'] / (data['h_stl'] + data['a_stl'])
    a_data['stl'] = data['a_stl'] / (data['h_stl'] + data['a_stl'])
    h_data['bs'] = data['h_bs'] / data['a_fgtA']
    a_data['bs'] = data['a_bs'] / data['h_fgtA']
    h_data['foul'] = data['h_foul'] / (data['h_foul'] + data['a_foul'])
    a_data['foul'] = data['a_foul'] / (data['h_foul'] + data['a_foul'])
    h_data['tf'] = data['h_tf'] / (data['h_tf'] + data['a_tf'])
    a_data['tf'] = data['a_tf'] / (data['h_tf'] + data['a_tf'])
    h_data['gd'] = data['h_gd'] / (data['h_gd'] + data['a_gd'])
    a_data['gd'] = data['a_gd'] / (data['h_gd'] + data['a_gd'])
    h_data['teamR'] = data['h_teamR'] / (data['h_teamR'] + data['a_teamR'])
    a_data['teamR'] = data['a_teamR'] / (data['h_teamR'] + data['a_teamR'])

    # h_data = h_data.fillna(0)
    # h_data = h_data.replace([np.inf, -np.inf], 0)
    h_data['score'] = data['h_score']
    h_data['gmkey'] = data['gmkey']

    # a_data = a_data.fillna(0)
    # a_data = a_data.replace([np.inf, -np.inf], 0)
    a_data['score'] = data['a_score']
    a_data['gmkey'] = data['gmkey']
    return pd.concat([h_data, a_data], ignore_index=True)

In [113]:
#seasonKey : S19G01
def get_keyplayer(seasonKey, team):
    result = set()
    season = str(int(seasonKey[1:3]) -2)
    league = seasonKey[4:6]
    seasonKey = 'S' + season + 'G' + league
    db.cursor.execute('''SELECT *
                        FROM player_avg_record
                        WHERE seasonCode LIKE 'S{}%' and
                        pcode IN (SELECT pcode
                                    FROM player
                                    WHERE tcode = '{}' and seasonCode = '{}');'''.format(season, team, season))
    data = pd.DataFrame(db.cursor.fetchall())
    if data.size != 0:
        score_top_player = data.sort_values('score',ascending=False)['pcode'][:3]
        ast_top_player = data.sort_values('ast')['pcode'][:3]
        rb_top_player = data.sort_values('rb')['pcode'][:3]
        for player in score_top_player:
            result.add(player)
        # result.add(score_top_player[0])
        for player in ast_top_player:
            if player in result:
                continue
            result.add(player)
            # break
        for player in rb_top_player:
            if player in result:
                continue
            result.add(player)
            # break
        return result     
    else:
        return None

In [286]:
def get_season_keyplayer(season):
    # db = DB.MYDB()
    result = dict()
    seasonCode = 'S' + str(season) + 'G01'
    for tcode in tcodes:
        tcode = str(tcode['tcode'])
        if tcode == '75':
            tcode = '29'
        # db.cursor.execute('''SELECT *
        #                 FROM player_avg_record
        #                 WHERE seasonCode LIKE 'S{}%' and
        #                 pcode IN (SELECT pcode
        #                             FROM player
        #                             WHERE tcode = '{}' and seasonCode = '{}');'''.format(season - 2, tcode, season))
        db.cursor.execute('''SELECT *
                        FROM (
                            SELECT p.*, rank() over(partition by p.pcode order by p.seasonCode desc) as a
                            FROM player_avg_record as p
                            WHERE seasonCode < '{}' and
                                pcode IN (SELECT pcode
                                            FROM player
                                            WHERE tcode = '{}' and seasonCode = '{}')
                            ) as rankrow
                        where rankrow.a <=1;
        '''.format(seasonCode, tcode, season))
        data = pd.DataFrame(db.cursor.fetchall())
        if data.size != 0:
            score_top_player = data.sort_values('score',ascending=False)['pcode'][:3]
            ast_top_player = data.sort_values('ast', ascending=False)['pcode'][:3]
            rb_top_player = data.sort_values('rb', ascending=False)['pcode'][:3]
            result[tcode] = set(score_top_player) | set(ast_top_player) | set(rb_top_player)
    return result

In [287]:
def get_recent(players, gameDate, db):
    # df = pd.DataFrame()
    df = []
    # db = DB.MYDB()
    # for player in players:
        # db.cursor.execute("""
        #                 SELECT b.*, a.gameDate 
        #                 FROM game_meta a, player_record b
        #                 WHERE a.gmkey = b.gmkey and b.pcode = '{}' and b.gmkey < '{}'
        #                 ORDER BY gameDate desc
        #                 LIMIT 5""".format(player, gameCode))
    db.cursor.execute("""
                        select *
                        from (
                            SELECT b.*, a.gameDate, rank() over(partition by b.pcode order by gameDate desc) as a
                            FROM game_meta a, player_record b
                            WHERE a.gmkey = b.gmkey and a.gameDate < '{}'
                                and b.pcode in {}
                            ) as rankrow
                        where rankrow.a <=5;""".format(gameDate, tuple(players)))
    # db.db.close()
    return pd.DataFrame(db.cursor.fetchall())

In [288]:
db = DB.MYDB()
db.cursor.execute("SELECT gmkey, tcodeA, tcodeH, gameDate FROM hygp.game_meta where gmkey >= 'S17G01N1';")
records = db.cursor.fetchall()
db.cursor.execute("SELECT gmkey, h_score, a_score FROM hygp.team_record_merge;")
scores = db.cursor.fetchall()
db.cursor.execute("select tcode from team_code")
tcodes = db.cursor.fetchall()
season_keyplayer = dict()
for season in range(17, 41):
    season_keyplayer[str(season)] = get_season_keyplayer(season)
db.db.close()

Connect!

In [289]:
season_keyplayer

{'17': {'30': {'230061', '290111', '290283', '290284', '290324'},
  '55': {'215012', '220172', '255038', '290227'},
  '70': {'240036', '240044', '650010'},
  '60': {'245062', '290117', '290238', '290287'},
  '50': {'220050', '240074', '290236', '290280', '290332'},
  '35': {'235038', '235042', '235075', '240064', '290261', '290276'},
  '16': {'215053', '250039', '250066', '290218'},
  '06': {'220195', '290346', '650014'},
  '10': {'210068', '210074', '230083', '290250'},
  '65': {'235058', '255032', '290114', '290285', '290325'}},
 '18': {'24': {'245071', '290117', '290385'},
  '19': {'230071', '255038', '290299', '290351'},
  '29': {'290101', '290110', '290225', '290234', '290286'},
  '18': {'210054', '290304', '290359', '290360'},
  '21': {'215065', '290284', '290362', '290363'},
  '22': {'260005', '290302', '290355', '290357'}},
 '19': {'30': {'290111', '290362', '290418', '290419', '650023'},
  '55': {'210080', '215012', '290324', '290335'},
  '70': {'240036', '290380', '290381'},
  '60': {'245071', '255044', '290116', '290248', '290287'},
  '50': {'230061', '290110', '290352'},
  '35': {'230051', '290276', '290278', '290426'},
  '16': {'215053', '230056', '245052', '290122', '290293', '290367'},
  '06': {'220194', '290119', '290243', '290266', '290371'},
  '10': {'210074', '230083', '235057', '290147'},
  '65': {'250067', '255076', '290325', '290355', '290425'}},
 '20': {'24': {'290124', '290379', '290420', '290421'},
  '19': {'245057', '255038', '260003', '290109', '290408', '290409', '290410'},
  '29': {'290100', '290225', '290234', '290291', '290292'},
  '18': {'245070', '290120', '290290', '290412', '290414'},
  '22': {'220195', '250067', '260005', '290286', '290358'}},
 '21': {'30': {'235070', '290349', '290417', '650023'},
  '55': {'215012', '290227', '290261', '290407'},
  '70': {'255085', '290106', '290108', '290381'},
  '60': {'210080', '290239', '290307', '290422', '290479'},
  '50': {'230071', '230080', '290110', '290231', '290454'},
  '35': {'230051', '235042', '235075', '290111', '290440'},
  '16': {'290112', '290122', '290276', '290291'},
  '06': {'230061', '230068', '255032', '290415'},
  '10': {'290100', '290280', '290324'},
  '65': {'240074', '250067', '255076', '290114', '290377'}},
 '22': {'24': {'290422', '290479', '290480', '290528'},
  '19': {'290266', '290275', '290298', '290411'},
  '29': {'290284', '290285', '290292', '290378', '290383'},
  '18': {'230068', '290483', '290537', '290539'},
  '22': {'290506'}},
 '23': {'30': {'235070', '250067', '290283', '290284', '290518'},
  '55': {'290118', '290261', '290407', '290486', '290540'},
  '70': {'255085', '290106', '290108', '290380', '290506'},
  '60': {'210080', '255044', '290116', '290532'},
  '50': {'230071', '290119', '290243', '290511', '290552'},
  '35': {'240064', '290223', '290325', '290335', '290543'},
  '16': {'215053', '230056', '290276', '290557'},
  '06': {'220194', '230080', '250038', '290375', '290559'},
  '10': {'210074', '290100', '290280', '290372', '290524'},
  '65': {'290241', '290285', '290371', '290425'}},
 '24': {'24': {'290124', '290420', '290479', '290533'},
  '19': {'290227', '290266', '290298', '290541'},
  '29': {'290293', '290368', '290380', '290412', '290454'},
  '18': {'290536', '290538', '290765'}},
 '25': {'30': {'250067', '255044', '290283', '290284'},
  '55': {'255083', '290261', '290266', '290407', '290485', '290519', '290558'},
  '70': {'290106', '290239', '290450', '290478', '290548'},
  '60': {'290108', '290472', '290528', '290733'},
  '50': {'290377', '290454', '290505', '290731', '290732', '290750'},
  '35': {'240064', '290111', '290223', '290376', '290744'},
  '16': {'215053', '230056', '290395', '290507', '290738'},
  '06': {'220194', '290122', '290139', '290287', '290412', '290483'},
  '10': {'210074', '230080', '290100', '290280', '290742'},
  '65': {'290241', '290282', '290425', '290544'}},
 '26': {'24': {'210080', '290108', '290421', '290528', '290792'},
  '19': {'290298', '290383', '290485', '290749'},
  '29': {'290351', '290417', '290422', '290440', '290545'},
  '27': {'220194', '290239', '290380', '290501'},
  '21': {'235070', '290284', '290362', '290551', '290754'},
  '22': {'290234', '290285', '290544', '290790'},
  '26': {'235075', '290111', '290223', '290542', '290744', '290788'}},
 '27': {'30': {'250067', '290234', '290377', '290787', '290789'},
  '55': {'230061', '240064', '290276'},
  '70': {'290106', '290371', '290450'},
  '60': {'290116', '290248', '290287', '290325', '290758'},
  '50': {'290119', '290454', '290552', '290750', '290785', '290800'},
  '35': {'290280', '290426', '290478', '290524', '290781'},
  '16': {'215053', '230056', '290218', '290739', '290774'},
  '06': {'290122', '290242', '290335', '290537', '290765'},
  '10': {'210074', '290100', '290437', '290797'},
  '65': {'235058', '260005', '290241', '290285', '290425', '290790'}},
 '28': {'24': {'290124', '290421', '290529', '290758'},
  '28': {'290123', '290293', '290503', '290556'},
  '19': {'240064', '290726', '290784'},
  '31': {'230071', '290219', '290372', '290743'},
  '29': {'290422', '290488', '290491', '290505', '290528'},
  '21': {'290234', '290417', '290492', '290789'},
  '22': {'290285', '290583', '290790'},
  '26': {'290110', '290440', '290543', '290788'}},
 '29': {'30': {'235070', '290261', '290335', '290787'},
  '55': {'230061', '290227', '290407', '290558'},
  '70': {'290239', '290381', '290395', '290450', '290794'},
  '60': {'260005', '290248', '290286', '290528', '290797', '290855'},
  '50': {'220194', '290243', '290750', '290901'},
  '35': {'215012', '290280', '290524', '290542', '290662'},
  '16': {'290218', '290434', '290739'},
  '06': {'290118', '290119', '290518', '290765'},
  '10': {'210074', '290101', '290371', '290861', '290909'},
  '65': {'290114', '290115', '290544'}},
 '30': {'24': {'260005', '290372', '290792', '291005'},
  '28': {'290434', '290507', '290599', '290902', '290985'},
  '19': {'290110', '290295', '290351', '290485', '290783'},
  '31': {'290436', '290567', '290740', '290742', '290743', '290904'},
  '29': {'290505', '290529', '290537', '290754'},
  '18': {'290412', '290422', '290796', '291008'},
  '21': {'290283', '290284', '290539', '290997'},
  '22': {'290488', '290603', '290791', '290896'},
  '26': {'290291', '290293', '290384', '290440', '290543', '290662'}},
 '31': {'30': {'290419', '290551', '290663', '290863', '291000'},
  '55': {'290227', '290407', '290982', '290993'},
  '70': {'290395', '290583', '290765', '290977'},
  '60': {'250067', '290371', '290855', '290897'},
  '50': {'220194', '290231', '290750', '290901', '290909'},
  '35': {'290108', '290280', '290451', '290524', '290788'},
  '16': {'240074', '290218', '290367', '290738', '290986'},
  '06': {'290118', '290119', '290518', '290794'},
  '10': {'210074', '290100', '290426', '290861', '290987'},
  '65': {'290114', '290285', '290292', '290757', '290904', '290979'}},
 '32': {'24': {'290116', '290287', '290529', '290792', '291096'},
  '28': {'240074', '290439', '290985', '290986'},
  '19': {'290295', '290712', '290903', '291084'},
  '31': {'240064', '290740', '290742', '290989'},
  '29': {'290478', '290537', '290556', '290648', '290754'},
  '21': {'290110', '290419', '290997', '291063', '291072'},
  '22': {'290114', '290791', '290904', '291002', '291068'}},
 '33': {'30': {'290118', '290283', '290284', '290417', '290754'},
  '55': {'290110', '290261', '290407', '290486', '291015'},
  '70': {'290106', '290231', '291008', '291109'},
  '60': {'290248', '290381', '290758', '291004', '291107'},
  '50': {'220194', '290454', '290505', '290552', '290750'},
  '35': {'235070', '290108', '290280', '290440', '290991'},
  '16': {'290122', '290439', '290479', '290518', '291009', '291089'},
  '06': {'290119', '290549', '291085', '291091'},
  '10': {'230080', '290377', '290524', '290987'},
  '65': {'290285', '290371', '290380', '290435', '290904'}},
 '34': {'24': {'250067', '290116', '290372', '291005', '291096'},
  '28': {'290434', '290439', '290503', '290776'},
  '19': {'290110', '290227', '290234', '290783', '290993'},
  '31': {'290426', '290741', '290989', '291069'},
  '36': {'290455', '290489', '290547', '290901', '290995'},
  '29': {'290661', '290662', '290763', '290765', '290792'},
  '21': {'290283', '290787', '290997'},
  '22': {'290435', '290756', '290904'},
  '26': {'290440', '290478', '290537', '290542'}},
 '35': {'30': {'250067', '290536', '290787', '291140'},
  '55': {'290261', '290407', '290485', '291084'},
  '70': {'290106', '290231', '290450', '291008'},
  '60': {'290381', '290501', '290524', '290742', '290897'},
  '50': {'290437', '290505', '290552', '290599', '291055'},
  '35': {'235070', '290280', '290781', '290991'},
  '16': {'290108', '290218', '290421', '290750'},
  '06': {'290583', '290985', '291085', '291091'},
  '10': {'290518', '290778', '290987'},
  '65': {'290435', '290544', '290800', '290904', '291138'}},
 '36': {'24': {'290454', '291005', '291096'},
  '28': {'290777'},
  '19': {'290227', '290351', '290486', '291070'},
  '31': {'290545', '290778', '291189'},
  '36': {'290505', '290529', '290552', '290599', '290901'},
  '29': {'290738', '290784', '290997', '291004'},
  '22': {'290435', '290544', '290603', '291194'},
  '26': {'290662'}},
 '37': {'30': {'290283', '290284', '290742', '290754', '290787'},
  '55': {'290407', '290993', '291246', '291248'},
  '70': {'290106', '290450', '290661', '291182', '291220', '291237'},
  '60': {'290261', '290381', '290524', '290897'},
  '50': {'290239', '290437', '290440', '290518', '290547', '291242'},
  '35': {'235070', '290478', '290781', '290989'},
  '16': {'290108', '290218', '290421', '290750', '290776'},
  '06': {'290119', '291085', '291091', '291107'},
  '10': {'250067', '290100', '290417', '290539', '290758', '291087'},
  '65': {'290380', '290435', '290488', '290756', '291068'}},
 '38': {'24': {'290503', '290544', '290552', '290792', '291004'},
  '28': {'290434', '291287', '291355', '291386'},
  '19': {'290227', '290486', '291070', '291286', '291368'},
  '31': {'290231', '290417', '290758', '291278', '291375'},
  '36': {'290528', '290648', '291288', '291349', '291363'},
  '29': {'290904', '290995', '291008', '291083'},
  '21': {'290501', '290987', '290997'},
  '22': {'290790', '291103', '291194', '291276', '291351'},
  '26': {'290662', '290788', '290989', '291362'}},
 '39': {'30': {'290742', '290787', '291011', '291138'},
  '55': {'290407', '290993', '291084'},
  '70': {'290106', '291007', '291008', '291144', '291220'},
  '64': {'290375', '290435', '290738', '291376'},
  '60': {'290524', '291004', '291063', '291096', '291300', '291339', '291374'},
  '50': {'290351', '290648', '291349', '291363'},
  '35': {'290778', '290788', '291009', '291078', '291348'},
  '16': {'290782', '290986', '291286', '291355', '291418'},
  '06': {'235070', '290585', '290901', '291085', '291091'},
  '10': {'290567', '290741', '291302', '291375'}},
 '40': {'24': {'290544', '290744', '291096'},
  '28': {'290434', '290528', '291001', '291006', '291483'},
  '19': {'290486', '290547', '291303', '291368', '291497'},
  '31': {'290507', '290567', '290779', '290792', '291073', '291494'},
  '36': {'291346', '291349', '291485'},
  '29': {'290989', '290991', '291008', '291210', '291276'},
  '68': {'290904', '291194', '291351', '291479'},
  '18': {'290548', '290549', '290583', '291226', '291352'}}}

In [311]:
def player_model():
    h_data = []
    a_data = []
    db = DB.MYDB()
    for idx, record in enumerate(records[3527:]):
        gmkey = record['gmkey']
        gameDate = record['gameDate']
        season = gmkey[1:3]
        h_score = scores[idx]['h_score']
        a_score = scores[idx]['a_score']
        tcodeH = '29' if record['tcodeH'] == '75' else record['tcodeH']
        tcodeA = '29' if record['tcodeA'] == '75' else record['tcodeA']
        try:
            temp1 = dict(get_recent(season_keyplayer[season][tcodeH], gameDate, db).mean(numeric_only=True))
            temp1['score'] = h_score
            temp1['gmkey'] = gmkey
            temp2 = dict(get_recent(season_keyplayer[season][tcodeA], gameDate, db).mean(numeric_only=True))
            temp2['score'] = a_score
            temp2['gmkey'] = gmkey

            h_data.append(temp1)
            a_data.append(temp2)
        except Exception as e:
            print("error ", gmkey)
        if idx % 100 == 0:
            print(gmkey)

    h_df = pd.DataFrame(h_data).to_csv("h_data1.csv")
    a_df = pd.DataFrame(h_data).to_csv("a_data1.csv")
    # model = pd.concat([make_data(h_data, a_data), make_data(a_data, h_data)])
    # return model
    db.db.close()

In [308]:
records[3527]

{'gmkey': 'S37G13N2', 'tcodeA': '75', 'tcodeH': '30', 'gameDate': '20200920'}

In [304]:
warnings.filterwarnings(action='ignore')
# data = player_model()
# data.to_csv('player_model.csv')
player_model()

Connect!
S37G01N256
error  S37G13N2
error  S37G13N10

KeyboardInterrupt:

In [262]:
h_data = pd.read_csv('h_data.csv', index_col=0)
a_data = pd.read_csv('a_data.csv', index_col=0)
# result = calculate_data(h_data,a_data)
player_data = pd.concat([calculate_data(h_data,a_data), calculate_data(a_data,h_data)], ignore_index=True)

KeyError: 'gmkey'

In [ ]:
team_data = make_model(data)
team_data

,ast,twop,threep,freep,offr,tfb,bench,tfbp,ppp,dk,...,secChanceScore,to,defr,stl,bs,foul,tf,gd,teamR,score
0,0.564103,0.603774,0.538462,0.608696,0.137931,0.128205,0.000000,0.000000,0.673913,1.000000,...,0.000000,0.434783,0.833333,0.600000,0.018182,0.543478,0.0,0.25,0.833333,99
1,0.612903,0.477273,0.454545,0.842105,0.290323,0.096774,0.000000,0.000000,0.580645,1.000000,...,0.000000,0.531250,0.714286,0.500000,0.059701,0.540541,0.0,0.00,0.500000,88
2,0.478261,0.511111,0.000000,0.833333,0.333333,0.173913,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.480000,0.642857,0.600000,0.057143,0.461538,0.0,0.50,0.222222,71
3,0.586207,0.489796,0.250000,0.727273,0.368421,0.034483,0.000000,0.000000,0.533333,1.000000,...,0.000000,0.428571,0.736842,0.562500,0.037736,0.571429,0.0,0.75,0.555556,79
4,0.375000,0.553191,0.461538,0.647059,0.250000,0.125000,0.000000,0.000000,0.617647,0.666667,...,0.000000,0.473684,0.611111,0.500000,0.092308,0.553191,0.0,0.50,0.000000,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7821,0.571429,0.472727,0.529412,0.583333,0.394737,0.200000,0.476744,0.162791,0.500000,1.000000,...,0.174419,0.409091,0.760000,0.687500,0.016949,0.424242,0.0,0.00,0.625000,86
7822,0.588235,0.590909,0.320000,0.615385,0.235294,0.147059,0.500000,0.119048,0.600000,1.000000,...,0.083333,0.680000,0.894737,0.250000,0.040000,0.500000,0.0,0.00,0.250000,84
7823,0.607143,0.606061,0.333333,0.636364,0.366667,0.142857,0.320513,0.102564,0.615385,0.000000,...,0.128205,0.588235,0.600000,0.421053,0.031746,0.551020,0.0,0.00,0.500000,78
7824,0.680000,0.372549,0.193548,0.761905,0.537037,0.160000,0.180556,0.111111,0.395349,0.000000,...,0.222222,0.483871,0.660000,0.500000,0.054795,0.468750,0.0,0.00,0.666667,72
7825,0.441176,0.530612,0.500000,0.705882,0.300000,0.147059,0.545455,0.102273,0.558140,1.000000,...,0.102273,0.727273,0.682927,0.384615,0.048193,0.567568,0.0,0.00,0.545455,88

In [248]:
# data1 = result.replace(0, 0.1)
data1 = result.fillna(-1)
data1

,ast,twop,threep,freep,offr,ppp,dk,defr,stl,bs,foul,tf,gd,score
0,0.731343,0.649351,0.447368,0.593750,0.262295,0.706897,0.666667,0.737705,0.5,0.052174,0.5,-1.0,0.5,99
1,0.729412,0.525000,0.360656,0.825000,0.200000,0.575000,0.857143,0.800000,0.5,0.022099,0.5,-1.0,0.5,88
2,0.448276,0.750000,0.181818,0.769231,0.300000,0.700000,1.000000,0.700000,0.5,0.042553,0.5,-1.0,-1.0,71
3,0.425532,0.592593,0.318182,0.775000,0.316832,0.702128,-1.000000,0.683168,0.5,0.027933,0.5,-1.0,-1.0,79
4,0.470588,0.566929,0.361111,0.656250,0.264706,0.574468,0.875000,0.735294,0.5,0.036810,0.5,0.5,0.5,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7109,0.782609,0.524590,0.259259,0.521739,0.396825,0.571429,-1.000000,0.603175,0.5,0.017391,0.5,-1.0,0.5,87
7110,0.770833,0.582090,0.290323,0.750000,0.355556,0.659574,-1.000000,0.644444,0.5,0.040816,0.5,-1.0,0.5,81
7111,0.304348,0.590909,0.416667,0.600000,0.375000,0.600000,-1.000000,0.625000,0.5,0.021739,0.5,-1.0,0.5,82
7112,0.727273,0.456140,0.300000,0.450000,0.322034,0.545455,-1.000000,0.677966,0.5,0.034188,0.5,-1.0,0.5,68
7113,0.272727,0.578947,0.523810,0.666667,0.307692,0.588235,-1.000000,0.692308,0.5,0.050000,0.5,-1.0,0.5,88

In [249]:
X = data1.iloc[:, :-1]
y = data1.iloc[:, -1]

In [250]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [251]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [252]:
y_predict = model.predict(X_test)
mean_squared_error(y_predict, y_test, squared = False)

10.773347297815254

In [253]:
model.score(X_test, y_test)

0.0020375146295512625